{% extends 'base.html.twig' %}

{% block title %}Edit Publication{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">Edit Publication</h1>
<br><br><br><br>
        {{ include('publication/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="mt-4">
            <a href="{{ path('app_publication_index') }}" class="btn btn-primary">Back to List</a>
        </div>

        {% if publication.publication is empty %}
            {{ include('publication/_delete_form.html.twig') }}
            {% endif %} 
    </div>
{% endblock %}
