{% extends 'baseback.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}
 {% block body %}
 {% endblock %}
{% block content %}
<center>
    <br><br><br><br><br><br>
    <h1>Edit Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}
        <br>
    <center> <a href="{{ path('app_reclamation_indexB') }}" class="btn btn-primary">Back to list</a> </center>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    </center>
{% endblock %}
