{% extends 'base.html.twig' %}

{% block title %}Hello ConsultationController!{% endblock %}
{% block body %}
<h1>
aaaaaaaaaaaaaaa
aaaaaaaaaaaaaaa

aaaaaaaaaaaaaaa
aaaaaaaaaaaaaaa
aaaaaaaaaaaaaaa
aaaaaaaaaaaaaaa

aaaaaaaaaaaaaa
</h1>
{% endblock %}
