{% extends 'base.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block content %}
<center>
<br><br><br><br><br><br><br><br><br>
    <h1>Create new Reponse</h1>

    {{ include('reponse/_form.html.twig') }}
<br>
   
    <a href="{{ path('app_reponse_index') }}" style="display: inline-block; padding: 4px 8px; background-color: #17a2b8; color: #fff; text-decoration: none; border-radius: 4px;">Back to list</a>
    <br>
    </center>
{% endblock %}
